Importing Libraries

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.patches as patches
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import iplot


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score
from math import sqrt
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from prettytable import PrettyTable
from sklearn.metrics import accuracy_score
import warnings

In [ ]:
#Loading our data
train_df = pd.read_csv("/content/drive/MyDrive/FeatureEngineering.csv")

In [ ]:
train_df.head()

   Unnamed: 0  date_block_num  ...  item_category_id  item_category_name
0           0               1  ...                40          Кино - DVD
1         482               1  ...                37      Кино - Blu-Ray
2         986               0  ...                40          Кино - DVD
3         987               1  ...                40          Кино - DVD
4        1771               0  ...                37      Кино - Blu-Ray

[5 rows x 20 columns]

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704112 entries, 0 to 704111
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          704112 non-null  int64
 1   date_block_num      704112 non-null  int64
 2   shop_id             704112 non-null  int64
 3   item_id             704112 non-null  int64
 4   item_cnt_day        704112 non-null  float64
 5   lags: 1             704112 non-null  float64
 6   lags: 2             704112 non-null  float64
 7   lags: 3             704112 non-null  float64
 8   lags: 4             704112 non-null  float64
 9   lags: 5             704112 non-null  float64
 10  lags: 6             704112 non-null  float64
 11  lags: 7             704112 non-null  float64
 12  lags: 8             704112 non-null  float64
 13  lags: 9             704112 non-null  float64
 14  lags: 10            704112 non-null  float64
 15  lags: 11            704112 non-null  float64
 16  shop_name           704112 non-null  object
 17  item_name           704112 non-null  object
 18  item_category_id    704112 non-null  int64
 19  item_category_name  704112 non-null  object
dtypes: float64(12), int64(5), object(3)
memory usage: 107.4+ MB

In [ ]:
# Separating categorical data from numerical data
train_categorical_data = train_df.select_dtypes(exclude=['int64', 'float','int32'])
train_numerical_data = train_df.select_dtypes(include=['int64', 'float','int32'])

In [ ]:
# Label Encode and Hot Encode for Categorical Columns
# the category data here will be converted to numbers format
le = LabelEncoder()
train_categorical_data = train_categorical_data.apply(LabelEncoder().fit_transform)

In [ ]:
#Looking into our categrical data after conversion
train_categorical_data.head()

   shop_name  item_name  item_category_name
0          0          0                  28
1          0          1                  26
2          0          2                  28
3          0          2                  28
4          0          3                  26

In [ ]:
# Concatenating both Catagorical Data and Numerical Data
# Y will be our new dataframe why X will be our lable
X = pd.concat([train_categorical_data, train_numerical_data], axis=1)
y = train_df['item_cnt_day']

In [ ]:
#Checking the X
X.head()

   shop_name  item_name  ...  lags: 11  item_category_id
0          0          0  ...       0.0                40
1          0          1  ...       0.0                37
2          0          2  ...       0.0                40
3          0          2  ...       0.0                40
4          0          3  ...       0.0                37

[5 rows x 20 columns]

In [ ]:
# Checking the y
y.head()

0    31.0
1    11.0
2     6.0
3    10.0
4     3.0
Name: item_cnt_day, dtype: float64

Spliting data into train and test

In [ ]:
# Splitting the data into Train and Test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [ ]:
X_test.head()

        shop_name  item_name  ...  lags: 11  item_category_id
541491         48       3495  ...       0.0                64
324630         29       3365  ...       0.0                63
262894         26       2864  ...       0.0                15
638026         56       1189  ...       2.0                55
233939         25       1878  ...       0.0                41

[5 rows x 20 columns]

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492878 entries, 249036 to 121958
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   shop_name           492878 non-null  int64
 1   item_name           492878 non-null  int64
 2   item_category_name  492878 non-null  int64
 3   Unnamed: 0          492878 non-null  int64
 4   date_block_num      492878 non-null  int64
 5   shop_id             492878 non-null  int64
 6   item_id             492878 non-null  int64
 7   item_cnt_day        492878 non-null  float64
 8   lags: 1             492878 non-null  float64
 9   lags: 2             492878 non-null  float64
 10  lags: 3             492878 non-null  float64
 11  lags: 4             492878 non-null  float64
 12  lags: 5             492878 non-null  float64
 13  lags: 6             492878 non-null  float64
 14  lags: 7             492878 non-null  float64
 15  lags: 8             492878 non-null  float64
 16  lags: 9             492878 non-null  float64
 17  lags: 10            492878 non-null  float64
 18  lags: 11            492878 non-null  float64
 19  item_category_id    492878 non-null  int64
dtypes: float64(12), int64(8)
memory usage: 79.0 MB

In [ ]:
# Checking the shape of bothe the train and test data
print("The size of training input is", X_train.shape)
print("The size of training output is", y_train.shape)
print("The size of testing input is", X_test.shape)
print("The size of testing output is", y_test.shape)

The size of training input is (492878, 20)
The size of training output is (492878,)
The size of testing input is (211234, 20)
The size of testing output is (211234,)

Model Building

In [ ]:
# Performing GridSearchCV on Ridge Regression
params = {'alpha' : [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]}
ridge_regressor = GridSearchCV(Ridge(), params, cv = 7, scoring = 'neg_mean_absolute_error', n_jobs = -1)
ridge_regressor.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning:

Ill-conditioned matrix (rcond=6.27074e-20): result may not be accurate.

GridSearchCV(cv=7, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=-1,
             param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000,
                                   10000, 100000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [ ]:
# Predicting train and test results
y_train_pred = ridge_regressor.predict(X_train)
y_test_pred = ridge_regressor.predict(X_test)

In [ ]:
print("Train Results for Ridge Regressor Model:")
print("Root Mean Squared Error: ", sqrt(mse(y_train.values, y_train_pred)))
print("R-Squared: ", r2_score(y_train.values, y_train_pred))

Train Results for Ridge Regressor Model:
Root Mean Squared Error:  3.0819978489080047e-11
R-Squared:  1.0

In [ ]:
print("Test Results for Ridge Regressor Model:")
print("Root Mean Squared Error: ", sqrt(mse(y_test.values, y_test_pred)))
print("R-Squared: ", r2_score(y_test.values, y_test_pred))

Test Results for Ridge Regressor Model:
Root Mean Squared Error:  3.851762035812232e-11
R-Squared:  1.0

In [ ]:
# Performing GridSearchCV on Lasso Regression
params = {'alpha' : [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]}
lasso_regressor = GridSearchCV(Lasso(), params ,cv = 15,scoring = 'neg_mean_absolute_error', n_jobs = -1)
lasso_regressor.fit(X_train, y_train)

GridSearchCV(cv=15, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000,
                                   10000, 100000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [ ]:
# Predicting train and test results
y_train_pred = lasso_regressor.predict(X_train)
y_test_pred = lasso_regressor.predict(X_test)

In [ ]:
print("Train Results for Lasso Regressor Model:")
print("Root Mean Squared Error: ", sqrt(mse(y_train.values, y_train_pred)))
print("R-Squared: ", r2_score(y_train.values, y_train_pred))

Train Results for Lasso Regressor Model:
Root Mean Squared Error:  0.009122827534903734
R-Squared:  0.9999993075683115

In [ ]:
print("Test Results for Lasso Regressor Model:")
print("Root Mean squared Error: ", sqrt(mse(y_test, y_test_pred)))
print("R-Squared: ", r2_score(y_test, y_test_pred))

Test Results for Lasso Regressor Model:
Root Mean squared Error:  0.010361208743024587
R-Squared:  0.9999993074567651

In [ ]:
# Performing GridSearchCV on Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor

depth = list(range(3,30))
param_grid = dict(max_depth = depth)
tree = GridSearchCV(DecisionTreeRegressor(), param_grid, cv = 10)
tree.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse',
                                             max_depth=None, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort='deprecated',
                                             random_state=None,
                                             splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
                                       15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
                                       25, 26, 27, 28, 29]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
# Predicting train and test results
y_train_pred = tree.predict(X_train)
y_test_pred = tree.predict(X_test)

In [ ]:
print("Train Results for Decision Tree Regressor Model:")
print("Root Mean squared Error: ", sqrt(mse(y_train.values, y_train_pred)))
print("R-Squared: ", r2_score(y_train.values, y_train_pred))

Train Results for Decision Tree Regressor Model:
Root Mean squared Error:  0.0
R-Squared:  1.0

In [ ]:
print("Test Results for Decision Tree Regressor Model:")
print("Root Mean Squared Error: ", sqrt(mse(y_test, y_test_pred)))
print("R-Squared: ", r2_score(y_test, y_test_pred))

Test Results for Decision Tree Regressor Model:
Root Mean Squared Error:  2.2822612470578383
R-Squared:  0.9663986476704653

In [ ]:
# Performing GridSearchCV on Random Forest Regression
tuned_params = {'n_estimators': [100, 200], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4]}  
random_regressor = RandomizedSearchCV(RandomForestRegressor(), tuned_params, n_iter = 3, scoring = 'neg_mean_absolute_error', cv = 3, n_jobs = -1)
random_regressor.fit(X_train, y_train)

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=None, verbose=0,
                                                   warm_start=False),
                   iid='deprecated', n_iter=3, n_jobs=-1,
                   param_distributions={'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 200]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='neg_mean_absolute_error',
                   verbose=0)

In [ ]:
# Predicting train and test results
y_train_pred = random_regressor.predict(X_train)
y_test_pred = random_regressor.predict(X_test)

In [ ]:
print("Train Results for Random Forest Regressor Model:")
print("Root Mean Squared Error: ", sqrt(mse(y_train.values, y_train_pred)))
print("R-Squared: ", r2_score(y_train.values, y_train_pred))

In [ ]:
print("Test Results for Random Forest Regressor Model:")
print("Root Mean Squared Error: ", sqrt(mse(y_test, y_test_pred)))
print("R-Squared: ", r2_score(y_test, y_test_pred))

In [ ]:
# Training = Tr.
# Testing = Te.
x = PrettyTable()
x.field_names = ["Model Name", "Tr. RMSE", "Tr. R-Squared", "Te. RMSE", "Te. R-Squared",]
x.add_row(['Ridge Regression','3.082','1.0','3.852','1.0'])
x.add_row(['Lasso Regression','0.009','0.999','0.010','0.999'])
x.add_row(['Decision Tree Regressor','0.0','0.1','2.279','0.966'])
x.add_row(['Random Forest Regressor','0.262','0.999','2.442','0.962'])
print(x)

+-------------------------+----------+---------------+----------+---------------+
|        Model Name       | Tr. RMSE | Tr. R-Squared | Te. RMSE | Te. R-Squared |
+-------------------------+----------+---------------+----------+---------------+
|     Ridge Regression    |  3.082   |      1.0      |  3.852   |      1.0      |
|     Lasso Regression    |  0.009   |     0.999     |  0.010   |     0.999     |
| Decision Tree Regressor |   0.0    |      0.1      |  2.279   |     0.966     |
| Random Forest Regressor |  0.262   |     0.999     |  2.442   |     0.962     |
+-------------------------+----------+---------------+----------+---------------+

# As we can see by comparing the models( Ridge Regression, Lasso Regression, Decision Tree, and Random Forest Regression) Decision Tree and Random Forest perfome best.